@page
@using Microsoft.AspNetCore.Identity
@using shoptry.Pages_Cart
@inject UserManager<ShopUser> UserManager
@model shoptry.Pages_Product.DetailsModel


@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.RecAgeMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.RecAgeMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.RecAgeMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.RecAgeMax)
        </dd>
        <dd>

            <br>
            @foreach (var item in Model.Images)
            {
                <td id="detail-images"><img src="@Url.Content(@item.File)" width="200px" height="180px" /></td>
            }
        </dd>
    </dl>
</div>
<div>
    @if (Model.isAllowed)
    {
        <a asp-page="./Edit" asp-route-id="@Model.Product.ProductId">Edit</a> <span>|</span>
    }
    
    <a asp-page="./Index">Back to List</a>
</div>
<div>
    @if (Model.SimilarProducts != null)
    {
        <h3>Recommended for You</h3>
        <table class="table">
            <tbody>
                @foreach (var item in Model.SimilarProducts)
                {
                    <td>
                    <td id="detail-images"><a asp-page="./Details" asp-route-id="@item.ProductId"><img
                        src="@Url.Content(@item.FirstImage)" height="180px" /></a></td>
                    <tr>
                        <td><a asp-page="./Details" asp-route-id="@item.ProductId">@item.Name</a> </td>
                    </tr>
                    </td>
                }
        </table>
    }
</div>
