@page
@using Microsoft.AspNetCore.Identity
@using shoptry.Pages_Cart
@inject UserManager<ShopUser> UserManager

@model shoptry.Pages_Product.IndexModel

@{
    ViewData["Title"] = "Products Index";
}

<h1>Products</h1>
@if (UserManager.GetUserName(User) == "admin@ressot.com")
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].cat)
            </th>
        </tr>
    </thead>
    <tbody>
        @* <div>@Html.DisplayFor(model => model.Username)</div> *@
        @if (UserManager.GetUserName(User) == "admin@ressot.com")
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cat)
                    </td>
                    <td>
                        @* <a asp-page="../Cart/Add" asp-route-id="@item.ProductId">Add to Cart</a> *@
                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.cat)
                    </td>
                    @* <td>
                        <form method='post'>
                        <input type="hidden" value="@item.ProductId" name="ProductId" />
                        <select name="Quantity"
                        onchange='document.getElementById("p.@item.ProductId").href="../Cart/Add/@item.ProductId/"+this.value'>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        </select>
                        </form>
                        </td> *@
                    @* <td>
                        <a asp-page="../Cart/Add" asp-route-quantity="@Model.FormQuantity" asp-route-id="@item.ProductId">Add
                        to Cart</a>
                        </td> *@
                    <td>
                        <form method='post'>
                            <input type="hidden" value="@item.ProductId" name="ProductId" />
                            <select name="Quantity"
                        onchange='document.getElementById("p.@item.ProductId").href="../Cart/Add?id=@item.ProductId&quantity="+this.value'>
                                <option value="0"> </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </form>
                    </td>
                    @* <td>
                        <a asp-page="../Cart/Add" asp-route-quantity=2 asp-route-id="@item.ProductId">Add
                        to Cart</a>
                        </td> *@
                    <td><a id='@("p."+@item.ProductId)' href="../Product">Add to Cart</a></td>
                </tr>
            }

            <a asp-page="../Cart/View">View Cart</a>
        }
    </tbody>
</table>
