@page
@using Microsoft.AspNetCore.Identity
@inject UserManager<ShopUser> UserManager

@model shoptry.Pages_Product.IndexModel

@{
    ViewData["Title"] = "View Product";
}

<h1>View Product</h1>
@if (UserManager.GetUserName(User) == "admin@ressot.com")
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<form>
	<p>
		Search Name:
		<input type="search" asp-for="SeachName" />

        Search by Category:
		<select asp-for="SeachCategory">
            @foreach (var category in Enum.GetValues(typeof( ProductCategory)))
            {
                <option value="@category">
                    @category
                </option>
            }
             </select>
	<br>
	Enable filter
	<input type="checkbox" asp-for="filterOn" checked="true" />
	<input type="submit" value="Search" />

	</p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @* <div>@Html.DisplayFor(model => model.Username)</div> *@
        @if (UserManager.GetUserName(User) == "admin@ressot.com")
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @* <a asp-page="../Cart/Add" asp-route-id="@item.ProductId">Add to Cart</a> *@
                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-page="../Cart/Add" asp-route-id="@item.ProductId">Add to Cart</a>
                        @* <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a> *@
                    </td>

                </tr>
            }
            <a asp-page="../Cart/View">View Cart</a>
        }
    </tbody>
</table>
