@page
@using Microsoft.AspNetCore.Identity
@using shoptry.Pages_Cart
@inject UserManager<ShopUser> UserManager

@model shoptry.Pages_Product.IndexModel

@{
    ViewData["Title"] = "View Product";
}

<h1>View Product</h1>
@if (UserManager.GetUserName(User) == "admin@ressot.com")
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}

<form id="searchMenu">
    <div id=SearchMenuRight>
        Search Name:
        <input type="search" asp-for="SearchName" />
        Filter Price:
        <input type="checkbox" asp-for="filterPriceOn" checked="true" />
        Set Maximum Price:
        $<label id="spLabel1" class="spLabel">@Model.SearchPriceMax</label>
        <input type="range" oninput="document.getElementById('spLabel1').innerHTML=this.value;" step="1" max="300"
            asp-for="SearchPriceMax" />
        Set Minimum Price:
        $<label id="spLabel2" class="spLabel">@Model.SearchPriceMin</label>
        <input type="range" oninput="document.getElementById('spLabel2').innerHTML=this.value;" step="1" max="300"
            asp-for="SearchPriceMin" />
    </div>
    <div id=SearchMenuLeft>
        Search by Category:
        <select asp-for="SearchCategory">
            @foreach (var category in Enum.GetValues(typeof(ProductCategory)))
            {
                <option value="@category">
                    @category
                </option>
            }
        </select>
        Search by recomended age:
        <input type="number" asp-for="SearchAge" />
        <br>
        Enable filter
        <input type="checkbox" asp-for="filterOn" checked="true" />
        <input class="srch" type="submit" value="Search" />

        </p>
        <input type="submit" value="Search" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Category)
            </th>

        </tr>
    </thead>
    <tbody>
        @* <div>@Html.DisplayFor(model => model.Username)</div> *@
        @if (UserManager.GetUserName(User) == "admin@ressot.com")
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>

                    <td>
                        @* <a asp-page="../Cart/Add" asp-route-id="@item.ProductId">Add to Cart</a> *@
                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        <img src="@Url.Content(@item.FirstImage)" height="80px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                    </td>
                    <td>
                        <form method='post'>
                            <input type="hidden" value="@item.ProductId" name="ProductId" />
                            <select name="Quantity"
                        onchange='document.getElementById("p.@item.ProductId").href="../Cart/Add?id=@item.ProductId&quantity="+this.value'>
                                <option value="0"> </option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </form>
                    </td>

                    <td><a id='@("p."+@item.ProductId)' href="../Product">Add to Cart</a></td>
                </tr>
            }

            <a asp-page="../Cart/View">View Cart</a>
        }
    </tbody>
</table>
